@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
}

.light{
  --bc : #f1f1f1;
  --c : #555;
  --headerbc : #ff9800;
  --red : #eb4747;
  --yellow : #ffc107;
  --atag : #f1f1f1;
  --cardbc : #f1f1f1;
}

.dark{
  --bc : #f1f1f1;
  --c : #555;
  --headerbc : #ff9800;
  --red : #eb4747;
  --yellow : #866400;
  --atag : #f1f1f1;
  --cardbc : #f1f1f1;
}

.App {
  text-align: center;
  background-color: var(--bc);
  color: var(--c);
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

.fa-mode{
  position: absolute;
  top: 2rem;
  right: 1rem;
  font-size: 2rem;
  color: #f1f1f1;
  z-index: 1;
}

.fa-sun{
  display: none;
}